################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bin
/obj
/src/DinosaurusPark/.vs
/src/DinosaurusPark/obj
/src/DinosaurusPark/bin
/src/DinosaurusPark/DinosaurusPark.csproj.user
/tests/DinosaurusPark.IntegrationTests/bin
/tests/DinosaurusPark.IntegrationTests/obj
/src/DinosaurusPark.Contracts/bin
/src/DinosaurusPark.Contracts/obj
