################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bin
/obj
/src/DinosaurusPark.WebApplication/.vs
/src/DinosaurusPark.WebApplication/obj
/src/DinosaurusPark.WebApplication/bin
/src/DinosaurusPark.WebApplication/DinosaurusPark.WebApplication.csproj.user
/tests/DinosaurusPark.IntegrationTests/bin
/tests/DinosaurusPark.IntegrationTests/obj
/src/DinosaurusPark.Contracts/bin
/src/DinosaurusPark.Contracts/obj
/src/DinosaurusPark.DataAccess/bin
/src/DinosaurusPark.DataAccess/obj
/src/DinosaurusPark.Extensions/bin
/src/DinosaurusPark.Extensions/obj
/src/DinosaurusPark.Generation/bin
/src/DinosaurusPark.Generation/obj
/src/DinosaurusPark.Services/bin
/src/DinosaurusPark.Services/obj
