@{
    string title = "Парк Юрского периода";
    ViewData["Title"] = title;
}

<div class="text-center">
    <h1 class="display-4">@title</h1>
</div>

<script src="~/js/startPageOnLoad.js" asp-append-version="true"></script>
<script src="~/js/dinosaursApi.js" asp-append-version="true"></script>
<script src="~/js/validator.js" asp-append-version="true"></script>

<script type="text/babel" src="/js/modal.jsx"></script>
<script type="text/babel" src="/js/preview.jsx"></script>
<script type="text/babel" src="/js/paging.jsx"></script>
<script type="text/babel" src="/js/generation.jsx"></script>

<div id="no-data-alert" class="card"></div>

<div id="dinosaur-modal" class="modal fade"></div>
<div id="for-jsx"></div>
<div id="Dinosaurs-area"></div>

<nav id="paging-nav"></nav>
