@{
    string title = "Наши динозавры";
    ViewData["Title"] = title;
}

<div class="text-center">
    <h1 class="display-4">@title</h1>
</div>

<script src="~/js/start.min.js" asp-append-version="true"></script>

<script type="text/babel" src="/js/components/modal.jsx"></script>
<script type="text/babel" src="/js/components/dinosaurCardModal.jsx"></script>
<script type="text/babel" src="/js/components/preview.jsx"></script>
<script type="text/babel" src="/js/components/paging.jsx"></script>

<div id="no-data-alert" class="card"></div>

<div id="dinosaur-modal" class="modal fade"></div>
<div id="for-jsx"></div>
<div id="dinosaurs-area"></div>

<nav id="paging-nav"></nav>
