@{
    string title = "Информация";
    ViewData["Title"] = title;
}

<div class="text-center">
    <h1 class="display-4">@title</h1>
</div>

<script src="~/js/info.min.js"></script>
<script type="text/babel" src="/js/components/parkInfo.jsx"></script>
<script type="text/babel" src="/js/components/modal.jsx"></script>
<script type="text/babel" src="~/js/components/deleteConfirmModal.jsx"></script>
<script type="text/babel" src="/js/components/speciesInfo.jsx"></script>

<div id="no-data-alert" class="card"></div>
<div id="delete-modal" class="modal fade"></div>

<div class="container-fluid">
    <div class="row">
        <div id="info-area" class="col-lg-5"></div>
        <div id="species-info-area" class="col-lg-6"></div>
    </div>
</div>