@{
    string title = "Информация о парке";
    ViewData["Title"] = title;
}

<div class="text-center">
    <h1 class="display-4">@title</h1>
</div>

<script src="~/js/infoOnLoad.js"></script>
<script src="~/js/parkInfoApi.js"></script>
<script type="text/babel" src="/js/parkInfo.jsx"></script>
<script type="text/babel" src="/js/speciesInfo.jsx"></script>

<div id="no-data-alert" class="card"></div>

<div id="info-area"></div>

<div id="species-info-area"></div>