
#dinosaurus-area {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(4, 0fr);
}

.dinosaur-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 6px 10px;
    display: grid;
    grid-gap: 5px;
    grid-gap: 5px;
    grid-template-columns: 80px 150px;
}

.row-header {
    font-weight: bold;
}

.row-value {
}

.dinusaur-info-btn {
    grid-column-start: 1;
    grid-column-end: 3;
}