
#dinosaurus-area {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: repeat(4, 0fr);
}

.dinosaur-card {
    border-radius: 3px;
    padding: 8px;
    display: grid;
    grid-gap: 5px;
    grid-gap: 5px;
    grid-template-columns: 80px 150px;
}

.dinosaur-photo {
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 3;
    justify-self: center;
}

.row-header {
    font-weight: bold;
}

.row-value {
}

.dinusaur-info-btn {
    grid-column-start: 1;
    grid-column-end: 3;
}

.info-header {
    font-weight: 300 !important;
    color: #777;
}

#image-holder {
    width: 100%;
    text-align: center;
}

#info-image {
    width: 70%;
    height: auto;
}