
<div class="modal fade" id="dinosaur-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="dinosaur-modal-title">Подробная информация</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="image-holder">
                    <img id="info-image" class="img-thumbnail" src="img/no-photo.png" />
                </div>

                <div class="info-header">Имя:</div>
                <p id="name-value"></p>

                <div class="info-header">Вид:</div>
                <p id="species-value"></p>

                <div class="info-header">Пол:</div>
                <p id="gender-value"></p>

                <div class="info-header">Возраст, лет:</div>
                <p id="age-value"></p>

                <div class="info-header">Рост, см:</div>
                <p id="height-value"></p>

                <div class="info-header">Вес, кг:</div>
                <p id="weight-value"></p>

                <div class="info-header">Тип питания:</div>
                <p id="foodtype-value"></p>

                <div class="info-header">Описание:</div>
                <p id="description-value"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>