@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

@{ await Html.RenderPartialAsync("NoData"); }
@{ await Html.RenderPartialAsync("DinosaurModal"); }

<div id="dinosaurus-area">

</div>

@{ await Html.RenderPartialAsync("Paging"); }
