
<div id="no-data-alert" class="alert alert-info alert-dismissible fade show" role="alert">
    There is no data in database. But you can generate it.
    <button id="generate-btn" type="button" class="accept-policy close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">Generate</span>
    </button>
</div>