@{
    string title = "Создать";
    ViewData["Title"] = title;
}

<script src="~/js/generationOnLoad.js" asp-append-version="true"></script>
<script type="text/babel" src="/js/generation.jsx"></script>

<div id="no-data-alert" class="card"></div>